<!DOCTYPE html>
  <%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

	<%= render "/refinery/head" %>

	<%# Facebook, Tweeter, LinkedIn and Google+ by Sharethis.com %>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-7a89411c-6803-f267-3b41-8fefd5fa646e", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  </head>

  <body id="<%= canonical_id @page %>">
    <%# Needed for foundation to wrap everything and show menu properly %>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <% if false %>
        <div class="show-for-medium-up row">
         <div class="autoplay large-10 columns">
           <p>If you want different results, don't do always the same.<br>
             <em class="font-size-small">Albert Einstein</em></p>
           <p>If you give a hungry man a fish, you nourish him a day. If you teach him to fish, you nourish his whole life.<br>
             <em class="font-size-small">Lao-Tsé</em></p>
           <p>It is always possible, when one wants it.<br>
             <em class="font-size-small">José Luis Sampedro</em></p>
           <p>There is an engine more powerful than oil, electricity and atomic energy: the will.<br>
             <em class="font-size-small">Albert Einstein</em></p>
           <p>I am not a saint, unless you think of a saint as a sinner who keeps on trying.<br>
             <em class="font-size-small">Nelson Mandela </em></p>
           <p>Every day we learn more and understand less. <br>
             <em class="font-size-small">Albert Einstein</em></p>
           <p>Choose a job you like and you won't have to work a day in your life. <br>
             <em class="font-size-small">Confucius (Chinese philosopher)</em></p>
           <p>We can't solve problems by thinking the same way as when we created them. <br>
             <em class="font-size-small">Albert Einstein</em></p>
           <p>The ignorant affirms it, the wise questions and thinks about it. <br>
             <em class="font-size-small">Aristotle</em></p>
          </div>
          <div class="large-3 columns">
            <img class="banner" src="/images/me.jpg" height="284" width="360">
          </div>
       </div>
       <% end %>

        
        <%= site_bar -%>
        <div id="page_container">
          <header id="header">
            <%= render "/refinery/header" -%>
          </header>
          <section id="page">
            <%= yield %>
          </section>
          <footer>
            <%= render "/refinery/footer" -%>
          </footer>
        </div>
        

        <%= render "/refinery/javascripts" %>
      </div>
    </div>

  </body>

</html>
